<p id="notice"><%= notice %></p>

<p>
  <strong>Carousell user:</strong>
  <%= @user.carousell_user %>
</p>

<p>
  <strong>String:</strong>
  <%= @user.string %>
</p>

<p>
  <strong>Kktown user:</strong>
  <%= @user.kktown_user %>
</p>

<p>
  <strong>String:</strong>
  <%= @user.string %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @user.serial_number %>
</p>

<p>
  <strong>String:</strong>
  <%= @user.string %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
