<%= form_with(model: category_map, local: true) do |form| %>
  <% if category_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category_map.errors.count, "error") %> prohibited this category_map from being saved:</h2>

      <ul>
      <% category_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kktwon_category %>
    <%= form.text_field :kktwon_category, id: :category_map_kktwon_category %>
  </div>

  <div class="field">
    <%= form.label :kktwon_sub_category %>
    <%= form.text_field :kktwon_sub_category, id: :category_map_kktwon_sub_category %>
  </div>

  <div class="field">
    <%= form.label :carousell_category %>
    <%= form.text_field :carousell_category, id: :category_map_carousell_category %>
  </div>

  <div class="field">
    <%= form.label :carousell_sub_category %>
    <%= form.text_field :carousell_sub_category, id: :category_map_carousell_sub_category %>
  </div>

  <div class="field">
    <%= form.label :carousell_category_id %>
    <%= form.text_field :carousell_category_id, id: :category_map_carousell_category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
