<div class="container">
    <div class="container">
        <h1>Batch Control Panel</h1>
    </div>
    <hr/>
    
    <div class="container">
        <%= form_tag({action: :create, controller: :batch_users, method: 'POST'}, multipart: true, class: 'form-group row') do %>
            <div class="form-group row">
                <h3> User Batch Upload:</h3>
            </div>
            <div class="form-group row">
                <%= file_field_tag 'users' %>
            </div>
            <div class="form-group row">
                <%= submit_tag 'Upload Batch' , class: 'btn btn-primary' %>
            </div>
        <% end %>   
    </div>
    
    <hr/>
    
        <div class="container">
            <%= form_tag({action: :checking_with_csv, controller: :batch_users, method: 'POST'}, multipart: true, class: 'form-group row') do %>
                <div class="form-group row">
                    <h3> Check Batch User:</h3>
                </div>
                <div class="form-group row">
                    <%= file_field_tag 'csv_file' %>
                </div>
                <div class="form-group row">
                    <%= submit_tag 'Upload Batch', class: 'btn btn-primary' %>
                </div>
            <% end %>
        </div>
        
        <div class="container">
            <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                <ul class="list-group">
                    <% Dir["kkmigrate/csv_parser/*.csv"].each do |file|%>
                        <li class="list-group-item">
                        <%= link_to file.to_s.split('/').last, controller: "downloads", action: "show", id: file.to_s.split('/').last %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    <hr/>

     <div class="container">
        <%= form_tag({action: :upload_with_csv, controller: :category_maps, method: 'POST'}, multipart: true, class: 'form-group row') do %>
            <div class="form-group row">
                <h3> Create Batch Category:</h3>
            </div>
            <div class="form-group row">
                <%= file_field_tag 'csv_file' %>
            </div>
            <div class="form-group row">
                <%= submit_tag 'Batch Create Category Maps', class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
    <hr/>

    </div>
</div>
